[2017-09-20 13:12] technopagan opened #1 "Check if <g></g> is present in the SVG"
Implement a check for <g></g> so that our RegEx to place the filter can work - currently <g></g> is not always present

[2017-09-20 13:13] technopagan opened #2 "Enable copy-to-clipboard of SQIP output"
Implement the copy-to-clipboard functionality from lqip-cli to copy output to clipboard.

[2017-09-20 16:21] Munter opened #3 "Option for outputting the raw svg"
To enable combinatory use with other tool chains it would be beneficial to be able to output just the raw svg without an `<img>`-tag.

[2017-09-20 16:23] Munter opened #4 "Node library without CLI"
In order to ease imlementation in other tools it would be helpful to expose a node library separate from the command line tool.

[2017-09-20 16:25] Munter opened #5 "Async I/O"
It would be helpful if the blocking calls were removed and the API became async

[2017-09-20 17:37] fxck commented on #4
how about a webpack plugin / loader?

[2017-09-21 07:15] Munter commented on #4
A webpack loader starts with a node runnable library. Anyone can pick up the webpack plugin part after that

[2017-09-21 13:23] technopagan opened #6 "Create a JS port of Primitive to remove the Golang dependency"
Currently, SQIP relies on Primitive (https://github.com/fogleman/primitive), which is written in Go, being installed. We could remove this unelegant dependency by porting Primitive to JS, maybe by basing our porting work on https://github.com/ondras/primitive.js.

[2017-09-21 13:25] technopagan opened #7 "Publish SQIP on NPM"
Let's publish SQIP on NPM to make the installation much easier for everyone.

[2017-09-21 13:33] technopagan opened #8 "Tune Primitive to create closer similarity with fewer shapes"
Currently, Primitive is basically an art project: it uses a random seed as part of its SVG shape generation and is not conscious about the number of shapes it uses to achieve a good similarity.

Once we've ported Primitive (https://github.com/technopagan/sqip/issues/6), we should consider changing its inner workings to be more efficient in achieving a better similiarity to the input image with few

[2017-09-21 13:37] technopagan opened #9 "Try to fix SVG output when using the polygon option in Primitive"
Currently, the polygon mode in Primitive cannot export to SVG. SVGs created by it are empty. See https://github.com/fogleman/primitive/issues/44 for reference.

Once we've ported Primitive to JS (https://github.com/technopagan/sqip/issues/6), we can investigate fixing the polygon SVG export. Polygons might help us achieve higher similarity with fewer bytes in SVG.

[2017-09-21 13:41] technopagan opened #10 "Run a series of performance tests to gather data on SVG rendering and add the result to the documentation"
SVG will very likely take a little longer to render than a base64-encoded raster image. And the Gaussian Blur applied to the simple SVG shapes created by Primitive is probably quite CPU intensive.

Let's run a series of performance tests, ideally on WPT, to compare LQIP raster image rendering performance vs. SQIP rendering performance and also compare CPU utilization.

[2017-09-22 14:46] Wildhoney commented on #7
In your own time @technopagan

[2017-09-23 10:39] technopagan commented on #7
Done! 🍾
https://www.npmjs.com/package/sqip

[2017-09-23 10:39] #7 closed

[2017-09-23 18:10] efegurkan commented on #4
This tool depends heavily on `primitive` which is written in golang which can be very limiting for the node API. It is still doable though.

[2017-09-23 19:42] efegurkan opened #11 "Empty string as --output parameter creates the SVG file named 'true'"
To reproduce run:
`sqip ./input.png -o`

In the end it will create a file called `true` on the same directory where the command run.

[2017-09-23 19:46] efegurkan opened #12 "Does not work with if input file name contains spaces."
To reproduce:
`squip ./file\ with\ spaces.png`

It is most likely an issue with `primitive` itself or when we pass the filename to the primitive since process throws error from primitive package.

[2017-09-24 12:45] technopagan commented on #4
@efegurkan's Pull Request https://github.com/technopagan/sqip/pull/13 (now merged) should fix this. 🎉

[2017-09-24 12:45] #4 closed

[2017-09-25 08:14] Wildhoney commented on #7
🍻 Hallelujah!

[2017-09-26 17:52] linkerlin commented on #9
see PR #55

[2017-10-17 08:30] mbalabash opened #15 "win32 installation problems"
Hello. Firstly i want to say thanks for your work.
Today i tried to install sqip on my laptop with windows 10. And found few problems:
1) child_process.execSync('type primitive') works incorrect for me (in checkForPrimitive function).
2) process.env.PWD return undefined (in getInputfilePath function).

I fix that issues and create pull request (#14). Now all work good for me.
Please, check my solu

[2017-10-18 19:29] tettoffensive opened #16 "Output Image Not cropped to original dimensions"
I have an input jpg image. It seems that the output svg encapsulates the extent of the primitives generated by `primitive` rather than cropping to the dimensions of the input image. Right now I have to do that manually in illustrator.

[2017-11-13 20:39] robinpokorny commented on #6
@ondras, how difficult you think this would be?

[2017-11-13 20:44] ondras commented on #6
Well, PrimitiveJS stands and falls with the 2D `<canvas>` DOM API. If the port is to be server-side, some corresponding lib/api has to be used.

As far as client side is concerned, PrimitiveJS is already a pretty close port of Primitive, using most of the algorithms from the initial Go implementation.

[2017-11-16 02:15] jowy opened #17 "Not blurring all images."
When running a batch of images, a small selection of SVGs will not actually get blurred. The SVG's that don't get blurred may actually get blurred on the next batch and visa versa.

![Screenshot](https://d3vv6lp55qjaqc.cloudfront.net/items/2x2A3C37022b1X3T0645/Screen%20Shot%202017-11-15%20at%208.04.40%20PM%20copy.png)

SVG Content:
[code]

[2017-11-16 09:32] sylvaindumont commented on #17
It's due to #1, if you find a way to improve the regex to add a top level g element when missing, image will be correctly blurred.
If you use the image on a website you can disable the blur in svg
[code]
and apply it in css
[code]
But if you find a way to fix this regex https://github.com/technopagan/sqip/blob/master/src/index.js#L115 and submit a pr it would be much better

[2017-11-16 15:50] jowy commented on #17
Thanks, I will look in to the regex today.

[2017-11-16 17:58] jowy commented on #17
Opened PR #19 for review.

You will want to probably calculate the scale attributes correctly for the `<g>` element. Due to time I am not able to do this. However, testing with 200+ images seems to work perfectly fine.

[2017-11-16 17:58] #17 closed

[2017-11-19 17:10] #11 closed

[2017-11-19 17:13] technopagan commented on #15
@mbalabash Thank you so much for the Pull Request (https://github.com/technopagan/sqip/pull/14) that fixes this issue! Awesome! 👍

[2017-11-19 17:13] #15 closed

[2017-11-19 17:18] technopagan commented on #1
Fixed by @jowy with PR https://github.com/technopagan/sqip/pull/19 ! 👏 🎉

[2017-11-19 17:18] #1 closed

[2017-11-23 08:12] denisbrodbeck commented on #9
This has been merged in commit [69506c9](https://github.com/fogleman/primitive/commit/69506c928bef740cc2b04cc385d878083556b206).

[2017-11-23 15:38] cyberwolf opened #20 "Allow configuration of gaussian blur standard deviation"
Currently the standard deviation of the Gaussian blur is hard coded to 12, it would be nice if this could be configured.

[2017-12-20 10:19] Munter commented on #16
@tettoffensive Do you have a sample image that recreates this problem? I'd like to take a stab at it. Might even be a fix that should go directly to `primitive`

[2018-01-03 16:05] funklos opened #22 "Support configuration options for underlying SVG converter"
Is there any plan to support further configuration of the underlying SVG converter?
In the current version primitive is used to create the SVGs and according to the documentation there are more command line flags available than just the number of shapes, which is configurable by this library.
Our current use case would be the usage of the -bg argument, which can be used to provide a specific backg

[2018-02-15 15:44] arpadcseh commented on #16
Hi @Munter ,
I have the same issue with latest sqip. Here is the test input and output.
![input](https://user-images.githubusercontent.com/1511049/36265333-4ed3cea8-126f-11e8-9be4-ef0e0df254de.jpg)
[output.txt](https://github.com/technopagan/sqip/files/1728319/output.txt)

Note: I had to rename the svg file to txt as github doesn't support it as attachment.

Hope it helps!
Cheers!

[2018-02-26 09:14] #20 closed

[2018-02-26 18:46] axe312ger commented on #22
+1, would be great if you add more options to the tool.

The setting for `mode` already got released :)

[2018-02-26 18:47] axe312ger commented on #6
I made https://github.com/technopagan/sqip/pull/25 to work around this for now.

But ++ on a node version :)

[2018-03-03 02:51] sido420 opened #28 "Nodejs option to specify output file path"
CLI supports output files (.svg) but Node module does not.

[2018-03-03 02:56] sido420 commented on #12
updates on this issue?

[2018-03-04 17:24] efegurkan commented on #12
I tried it locally it should be also fixed with `0.3.1`.

Please feel free to reopen if you encounter it again.

[2018-03-04 17:24] #12 closed

[2018-03-09 14:08] axe312ger opened #30 "Next Version & Plugin system"
As discussed via PM on twitter with @technopagan and @efegurkan, we should rewrite sqip to be a plugin based system.

This step could be used to refactor the codebase, here is my proposal:

## Todo
* [x] transform the code into one style via eslint + prettier #31
* [x] replace argv with [yargs](https://github.com/yargs/yargs). Allows more complex cli argument parsing.  Replacing [this](https://git

[2018-03-09 16:35] axe312ger commented on #10
On it: https://github.com/axe312ger/svg-loading-animation

[2018-03-09 16:35] axe312ger commented on #9
Jup, this is fixed :)

[2018-03-09 16:35] #9 closed

[2018-03-09 16:36] axe312ger commented on #5
Ohh yeah, that would be great. Maybe for the next version. What do you think @efegurkan?

[2018-03-11 22:35] axe312ger commented on #10
This should give first insights -> https://www.webpagetest.org/video/compare.php?tests=180311_3P_9f773f087d147a15afc024baf79af660,180311_V4_d102f7b12f48338f65a9beb7e300f956,180311_MJ_ba24c447b0f39b7106c9107fd08d322f,180311_R4_1bc9120c70d8b2349858da76f7f3cdf2,180311_V7_92b11675be8759a8def165edc0c48bd4

[2018-03-12 01:04] efegurkan commented on #5
Would be great to add that :+1: @axe312ger

[2018-03-12 01:17] efegurkan commented on #30
First of all thank you @axe312ger solid plan.

Since we are planning to become a more complex project with these additions. We should also add tests to these plan as well. It should be simple to write unit tests for most of the code and the plugin system would actually help us on there.

For the integration tests, as far as I remember primitive was not generate the same result always. Not sure how

[2018-03-12 08:07] axe312ger commented on #30
Thanks Efe, you are very welcome.

I agree with the tests. I'd go for jest since it gives really good DX :)

We could use cheerio for checking the primitive output. Just count the shapes and see if the type of shapes matches the given mode. At least on a minimal level as it is not our job to ensure primitive is working properly.

[2018-04-17 17:40] axe312ger commented on #30
After #36 is done, the async API can be done with upgrading all dependencies (only svgo missing atm since it is async online since v1)

Straight afterwards we can start creating the plugin api, extracing the blur and make our own plugins. Can't wait to add my svg loading animation plugin 😏

[2018-06-02 04:55] jordangarside opened #38 "allow passing buffer as input in node api"
Would it be possible to allow passing a buffer as an input (instead of filename) in the Node API?

[2018-06-06 08:17] efegurkan commented on #38
I think it would be doable if we could pass it to the primitive directly. Worst case it would need a js implementation of the primitive.

[2018-06-11 16:32] axe312ger commented on #30
Argh, just realised I will need to implement babel to make proper readably async code for node v6.

I guess there is no way around, I really don't want to nest/chain all the promised. `async await` is great and is available as soon node v8 gets into LTS... sooo... one year of babel.. I guess we can life with it 😅

[2018-06-14 09:38] Dabolus commented on #38
Seems like primitive does not support a buffer as an input. Having a js implementation of primitive would be great, but I think it will require a lot of time. As a temporary solution, what about saving the buffer as a file in the system's temp directory ([`os.tmpdir()`](https://nodejs.org/api/os.html#os_os_tmpdir)), calling primitive with that file and then deleting it?

[2018-06-14 11:35] jordangarside commented on #38
I wound up using [node-primitive](https://github.com/vincentdesmares/node-primitive) which is a js implementation of primitive. It's a little slow, but it works ok.

Saving a temporary file was the route I was going to go if node-primitive didn't work. If you guys don't want to integrate that logic into sqip, then feel free to close this.

[2018-06-19 12:41] efegurkan commented on #30
Hey Benedikt, I personally wouldn't mind babel stuff. :+1:

[2018-06-20 08:37] axe312ger commented on #30
Alright cool. Will start with it soonish after my vacation. I will blog about SQIP which may boost this, too :)
On 19. Jun 2018, 14:41 +0200, Efe Gürkan YALAMAN <notifications@github.com>, wrote:

[2018-07-02 19:31] canyoudev opened #40 "SQIP generates image with transparent line"
Hello, and first of thanks for absolute awesome package. Really incredible!

After playing around I noticed that output contains unwanted transparent space. How to get rid of it?

Here you can find it on the bottom (whole bottom line)

[code]

Sorry, Github doesn't support SVG

[2018-07-02 19:42] canyoudev commented on #16
Probably related? https://github.com/technopagan/sqip/issues/40

[2018-07-02 21:11] canyoudev opened #41 "Option to choose only polygons/squares etc"
Just a thought that it could be just awesome to generate art-style previews, that Primitive is capable of.
Right now, as I understand, SQIP chooses appropriate mix of different shapes?
May be it's possible to restrict generation to only triangles etc?

[2018-07-03 17:24] canyoudev commented on #40
After opening SVG in Inkscape I realized that this is not an issue!

[2018-07-03 17:24] #40 closed

[2018-07-05 12:38] axe312ger commented on #16
Probably related, too: https://github.com/gatsbyjs/gatsby/issues/5224

[2018-07-19 13:21] canyoudev commented on #10
I have a page where I have a lot of images and SQIP for them. I noticed that page have issues with rendering, especially when I fast scroll it, and especially on mobile. This is caused by this SVG and blur effects that is really CPU intensive.

Is there any workaround? This SQIP technique is so beautiful and I don't want to throw it out because of that glitches. Right now I am using SQIP as an `ur

[2018-07-19 14:19] axe312ger commented on #10
You can use css blur but this will round your corners. You may use a wrapping div, set it to `overflow: hidden` and zoom your sqip by 10% with `translate: scale(1.1)`

A little bit more ugly but is more performant.

[2018-07-19 16:20] canyoudev commented on #10
@axe312ger thanks for tips! For now I decided to detect `mobile` and not show SQIP for them at all.

One more question, if you please. What about resolution? Does it have any impact in case of SVG? I'm little confused, since 100x100 and 2000x2000 images have same size. What about rendering? Dimensions have any impact? (my current SQIP's are pretty big, but I scale them down, not sure how it perfor

[2018-07-23 09:43] axe312ger commented on #10
Feel free to play with the code in https://github.com/axe312ger/embedded-svg-loading-impact-research.

Maybe create a set of pages using SQIP with blur having 4,6,8,10,15,20,40,60,80 pictures and see how it impacts mobile loading time with mobile devices. Measurements can be done with http://webpagetest.org/

[2019-01-29 22:33] bdrtsk opened #46 "SQIP generation blocks Node"
I absolutely love this package, but I can't solve a huge problem with it.

It completly blocks my server while processing the image!
I was hoping to fix this by using separate job (using Bull queue) but no success. Whole server stops and doesn't respond to requests when this job is started. Job is started in separate thread, but still SQIP completely blocks everything!

How do I handle this? Pleas

[2019-01-29 22:34] bdrtsk commented on #5
Any progress on this, guys? SQIP completly blocks my server even using queue.

[2019-01-31 03:04] axe312ger commented on #46
will be fixed with #5  and #42

[2019-01-31 03:04] #46 closed

[2019-02-01 21:30] DanielRuf opened #47 "Failing CI"
https://travis-ci.org/technopagan/sqip/builds/366481177

[2019-02-14 10:22] maxnordlund commented on #30
I'm so excited for this, gonna make my life a lot easier 😄 Also, since almost a year has passed node 6 is going bye-bye 🎉

But since babel is already in, let's not add more work to the pile. Thank you for this lovely library ❤️

[2019-03-02 07:46] axe312ger commented on #47
Fixed :)

[2019-03-02 07:46] #47 closed

[2019-03-02 07:49] axe312ger commented on #38
Using node-primitive is not an option yet, since primitive is already pretty slow in it's go implementation.

On the other hand primitive now seems to support passing in from stdin, so passing in a buffer should become possible now :)

[2019-03-02 07:49] axe312ger commented on #22
will be fixed with the new plugin system :)

[2019-04-08 22:00] bdrtsky opened #52 "Pixelated effect"
Hello. I just thought it would be cool to have pixelated effect. How do you think it's possible?

[2019-04-09 04:17] axe312ger commented on #52
Hmm, its not possible with primitive except u use the triangle mode, but thats not real pixelated.

We are currently working on making [SQIP plugin](#43) based, so if you find a tool that can create that effect in svg's, we can add it do SQIP.

Maybe there is a svg filter that could do similar?

[2019-04-12 14:37] willdante opened #53 "How to use SQIP effectively for multiple files ?"
Hi,

I'm looking for the most effective way to use SQIP for all images in a directory.

I've managed to make it work running a Windows CMD:
`for %x in (*) do sqip -o ./svg/%x.svg %x`

But when running it in a .bat file, it doesn't work:
`for %%x in (*) do sqip -o ./svg/%%x.svg %%x`

Ideally, I'd like to use the Node API in my Vue/Nuxt website but I don't understand how to do that.
I'm new to dev a

[2019-04-12 15:51] willdante commented on #53
Sorry, I was looking to close the issue but it doesn't seem possible.

If it can help, I've found out why my batch wasn't working.

My .bat file was in the img folder where the images to sqip were too.
And it was named sqip.bat, so the sqip command inside my batch was launching the .bat file again and again!

Now it works but I'm still interested in having some tips to use the Node API.

I'm worki

[2019-04-14 04:31] axe312ger commented on #53
You have to call SQIP for every image separated, then calls are sync at the moment so just loop over your files and push the paths into the SQIP call. Just like it is done here: https://github.com/axe312ger/sqip#node-api

Does this help?

[2019-04-14 06:49] willdante commented on #53
Ok, thank you.

[2019-04-14 06:49] #53 closed

[2019-04-14 07:30] technopagan commented on #52
Heyho @bdrtsky! You could use a preparatory step to convert your high-resolution original into a pixelated variant, e.g. via imagemagick‘s „convert“ + scale and then send that already-pixelated variant as input to SQIP. Primitive mode 2 is „rectangle“ and will be aligned to the pixelated input image if possible, depending on how many shapes you allow. So you *can* achieve your desired effect - it

[2019-04-15 08:29] axe312ger commented on #52
Awesome idea @technopagan :)

[2019-04-17 08:06] Jesus82 opened #54 "Preserve white background"
Hi, I have a series of product images (mainly beer bottles and cans) that consist in the product and a white background. When processed through sqip, the background always end up in some light gray color, making the loading effect less smooth.

Is there any way to preserve the white background in the svg? (either by preprocessing with imagemagick/graphicsmagick or with any other css trick) Thanks

[2019-04-22 21:16] bdrtsky commented on #52
@technopagan sounds interesting! I will try that, thanks for idea.

[2019-04-29 06:57] axe312ger commented on #52
After #35 is done, I'd love to create a plugin that creates real pixelated svgs without using primitive.

Let me know how @technopagan's idea worked out for you @bdrtsky

[2019-05-12 05:47] technopagan opened #58 "Reduce byte size further by improving SVG data URI encoding"
Back when we first built SQIP, we went with Base64 encoding for the SVG string so that it was safe to be included inline in HTML because that is when SQIPs make their positive impact. See [the "encodeBase64" function](https://github.com/axe312ger/sqip/blob/129ba71f6a54d0b71a046480a56d7f5129656ccb/packages/sqip-plugin-data-uri/src/sqip-plugin-data-uri.js) in the code.

However, back then, it was al

[2019-05-12 13:19] axe312ger commented on #58
Hey Tobias,

thanks for the hint. Already have it on my plate and using it for https://www.npmjs.com/package/gatsby-transformer-sqip

Further I plan to implement it in the https://github.com/axe312ger/sqip/tree/master/packages/sqip-plugin-data-uri plugin :)

Best,
Benedikt

[2019-05-13 21:40] axe312ger commented on #52
@bdrtsky check out https://github.com/axe312ger/sqip/tree/feat/pixels-plugin#examples

Is this what you've been looking for? :)

[2019-05-13 21:42] axe312ger commented on #28
will be fixed in #60

[2019-05-14 11:53] #3 closed

[2019-05-21 19:49] MattCatz opened #62 "Hot Patch Current NPM release"
Hi! I understand that you are hard at work with the next major revision of the of the project but, I was wondering if you could update Legacy branch to fix the js-yaml code injection warning. It would require bumping the dependency of svgo to 1.2.2

[SVGO patch](https://github.com/svg/svgo/commit/db45845e1cb2b3f8b5228e0e222098d3d638ee2c)

[2019-06-03 18:58] axe312ger commented on #62
Hi Matt,

as far as I know svgo v1+ is async, so we have to wait for the next version of sqip to upgrade to the latest svgo. Sorry :(

[2019-06-04 01:04] MattCatz commented on #62
Thanks for looking into it.

[2019-06-04 01:04] #62 closed

[2019-06-14 07:55] Adam-Collier opened #68 "Error when installing"
Hey currently getting this error when trying to npm install everything

![image](https://user-images.githubusercontent.com/20065745/59492984-0eff0f00-8e82-11e9-8dcb-4e36fcfdc9c3.png)

Is there a fix for this?

[2019-06-14 08:48] axe312ger commented on #68
Hey Adam,

I was missing permissions to release sqip itself on npm, that broke the publishing.

I'll fix this the next days by releasing `v1.0.0-alpha.x`

For now check the legacy readme: https://github.com/axe312ger/sqip/tree/legacy#readme

Best,
Benedikt

[2019-06-14 09:26] Adam-Collier commented on #68
Ahh great! thanks for the info 👍 Great work on the library btw!

[2019-06-14 10:14] #68 closed

[2019-06-15 22:42] #58 closed

[2019-06-15 22:43] axe312ger commented on #54
Might be fixed with #39

[2019-06-15 23:26] axe312ger commented on #58
🚀 🎉 SQIP `v1.0.0-alpha.25` now beats the old version in initial file size & compression rate:

https://axe312ger.github.io/sqip/

[2019-06-19 16:00] axe312ger opened #87 "Sometimes the svg has different group structure"
In some rare cases, primitive and/or svgo return a svg which is lacking a group.

This might not affect visual output but breaks the `cli api › -o save result to file and basic svg structure is applied` once in a while. Can be confusing especially for contributors

Example log:
https://circleci.com/gh/axe312ger/sqip/348

Research why and when this happens is very welcome. A PR to fix it as well :)

[2019-06-19 16:02] axe312ger opened #88 "Create a migration guide"
The API changed for node and for the CLI

We should provide an migration guide, let's gather breaking changes here for now.

* file became input
* node is now async
* ...?

[2019-06-19 16:44] axe312ger opened #89 "create svgo plugin to reduce file size further more"
SVGO does already a great job my minifying the result of primitive.

Rotated ellipses are output by primitive like this:

[code]

While SVGO optimizes them to:

[code]

There is no SVGO plugin yet which does reduce the precision of the matrix transform values.

A slight reduction might not harm our output at all while squeezing a few more bytes out of the file.

This should be a separate value fro

[2019-06-20 11:18] axe312ger opened #90 "v1 umbrella issue"
Alpha testers are very welcome, the [README.md](https://github.com/axe312ger/sqip/#readme) should be up to date for installation and usage instructions.

v1 will be released as soon all tickets & prs are closed in the [v1 milestone](https://github.com/axe312ger/sqip/milestone/1).

tl;dr 👉`npm i sqip-cli@canary`

## Milestone:

https://github.com/axe312ger/sqip/milestone/1

## Main features:

* Asy

[2019-06-20 11:19] axe312ger commented on #30
Closed in favor of https://github.com/axe312ger/sqip/issues/90

@maxnordlund you are very welcome to test our new v1 alpha :)

[2019-06-20 11:19] #30 closed

[2019-06-20 11:37] axe312ger opened #91 "document what the node api & cli return"
# node

[code]

# CLI

Fully featured

[code]

non-TTY & `--parseable-output` input flag

[code]

`--silent` flag

[code]

[2019-07-15 12:44] ria4 opened #92 "CLI always outputs 300px-width svg"
Hi,

I might be missing something obvious but when I'm running something like this...
`npx sqip -i photo.jpg -n 40 -b 2 -m 1 -w 0 -o photo.svg`
...the output is always 300px wide, instead of keeping the original image width.

Using a standard int (e.g. `-w 1000`) does not change this.

Updating the default CLI 300px width does not change this either.
https://github.com/axe312ger/sqip/blob/891c3664

[2019-07-16 13:45] selul opened #93 "error when reading certain jpg files as input"
Hey,

I've started to use recently the sqip library, the alpha version and is working great.

Lately, for some images, I'm getting this error
[code]

which seems to be caused by the `image-size` library, I've found more details about this topic here https://github.com/image-size/image-size/issues/37

It seems that by switching to https://github.com/nodeca/probe-image-size the issue is no longer pr

[2019-07-22 09:33] axe312ger commented on #92
Thank you for the bug report and testing the alpha, I'll have a look :)

[2019-07-22 09:34] axe312ger commented on #93
Thanks for testing and the report :)

I'll have a look at prope-image-size and also consider just using sharp to get the dimensions as sharp is already in the project as dependency

[2019-07-24 17:44] renanvaz opened #94 "Win64 error in sqip-plugin-primitive (requiring golang)"
Hello, when i run the Skip with the following code:

[code]

The catch receives this message:

`Please ensure that Primitive (https://github.com/fogleman/primitive, writ ten in Golang) is installed and globally available`

Looking the code, the error is caused bacause the file extension `.exe` is not present in the file path at `primitivePath` variable

[2019-07-24 18:32] renanvaz commented on #94
To resolve this, just change the line 87 of file "packages/sqip-plugin-primitive/src/sqip-plugin-primitive.js" like this:
[code]

Can you make this change? I cant build to open a pull request here.

[2019-07-25 14:22] axe312ger commented on #94
Good catch, thanks. I'll fix this soonish, wanted to do a upgrade round in this repo the next days anyways :)

[2019-08-07 09:30] peacefulseeker opened #97 "[TYPO] - `--input` or `-i` instead of `-input`"
![image](https://user-images.githubusercontent.com/25010454/62611868-10433a00-b90f-11e9-8501-b3df1ac81cd9.png)

[2019-08-10 21:23] #94 closed

[2019-08-10 21:24] #97 closed

[2019-08-13 17:15] #92 closed

[2019-08-13 17:19] axe312ger commented on #94
Should be fixed with latest alpha. Install from canary branch and let me know :)

[2019-08-13 17:19] axe312ger commented on #92
Should be fixed with latest alpha. Install from canary branch and let me know :)

[2019-08-25 12:11] bdrtsky commented on #52
@axe312ger oh yes, this is absolutely awesome :fire:

Thank you!!!

[2019-08-26 09:03] axe312ger commented on #52
`sqip -p pixels -i yourfile.svg` should do it.

A PR to allow setting the number of horizontal pixels would be amazing 😁

[2019-08-28 13:46] ria4 commented on #92
It works fine now. Thank you for the commit!

[2019-09-05 18:35] axe312ger commented on #52
I am down for any alternative approaches that result in a faster browser rendering time.

A few words why this is currently done with just a bunch of rectangles:

With the current implementation of the pixels plugin I had the idea to write another plugin, which replaces each shape with a given one. That way you could have a matrix of your company logo representing the original image. No idea if th

[2019-09-05 18:35] axe312ger commented on #92
great to hear <3

[2019-09-30 14:09] MarcusCemes opened #100 "[QUESTION] Is this project dead?"
I love this package! I've been using it for a while, but ran into an issue on Windows. In my opinion, this placeholder technique looks much better than any other alternative.

The issue has been fixed and merged in https://github.com/axe312ger/sqip/commit/206f683a85e6fb2c4d1adae012f585feb0e0de41, however, the commit hasn't been published to npm... Which means without building and symlinking the pa

[2019-09-30 14:14] MarcusCemes commented on #100
Just realised that the README is recommending installing the alpha branch, which is why I didn't encounter this before. I will go back to the old stable release, but would love to see this active again!

[2019-10-04 10:54] axe312ger commented on #100
Not dead for sure, I'll continue working on SQIP as soon I find time.

I am pretty sure the alpha with teh windows fix was released in version alpha 28?

[2019-10-04 13:36] MarcusCemes commented on #100
That's great to hear! SQIP with triangles and no-blur is just beautiful.

I didn't realise that the primitive plugin was in fact up to date with the repository, therefore meaning that the latest npm release is not built correctly.

If you check [line 94](https://unpkg.com/browse/sqip-plugin-primitive@1.0.0-alpha.28/dist/sqip-plugin-primitive.js) on unpkg, commit https://github.com/axe312ger/sqip/c

[2019-10-15 20:34] szepeviktor opened #101 "Smaller URIs by mini-svg-data-uri"
Please use this package to produce shorter URIs
https://github.com/tigt/mini-svg-data-uri

[2019-10-15 20:36] szepeviktor commented on #101
Done in #75
Uee that plugin!

[2019-10-15 20:37] #101 closed

[2019-10-16 10:17] axe312ger opened #102 "Document all plugin configurations"
All plugins are currently documented well via the CLI help, maybe start by copying that output, later on refine the readme files

[2019-10-20 18:41] barosch47 commented on #102
Hi i would like to help you with that.

[2019-10-28 10:53] axe312ger commented on #5
Closing this as the current alpha now fully async

[2019-10-28 10:53] #5 closed

[2019-10-28 11:00] axe312ger commented on #22
Most of these options: https://github.com/fogleman/primitive#command-line-usage

Should end up in: https://github.com/axe312ger/sqip/blob/master/packages/sqip-plugin-primitive/src/sqip-plugin-primitive.js

The `nth` parameter generates a new image for every frame, we might support this by throwing every result into the image array sqip uses

[2019-11-16 14:53] #93 closed

[2019-11-16 15:04] axe312ger commented on #100
I published a new version, including the fix for #93. This should resolve your issues :)

Will now continue testing and fixing everything for #90

[2019-11-16 15:04] #100 closed

[2019-11-24 20:47] #22 closed

[2019-11-24 20:47] #54 closed

[2019-11-24 20:48] axe312ger commented on #28
already fixed and released.

[2019-11-24 20:48] #28 closed

[2019-11-24 20:48] axe312ger commented on #87
Should be fixed now since this test no more checks for the number of primitives. There are separate tests now to check for primitive behaviour.

[2019-11-24 20:48] #87 closed

[2019-11-29 02:13] axe312ger commented on #52
It is now configurable as well and released in the lastest alpha. Closing here for now.

[2019-11-29 02:13] #52 closed

[2019-12-23 13:15] axe312ger commented on #38
Still somebody looking for this feature? Should be not that hard to implement, but I'll remove it from the initial v1 version.

[2019-12-26 01:48] tommyboylab opened #109 "Unable to find input file - NodeJS"
### I'm finding problems with sqip not finding files in my working directory

**Actual Result**
Changing the working directory from anything below, above or in the current working directory of sqip presents me with the error `Error: Unable to find any files via /* . Make sure the file exists`

**Expected Result**
File should be found in the current working directory, or any directory set as input.

[2019-12-26 09:34] axe312ger commented on #109
Hey there,

can you run it with the debugging enabled and post your output? `DEBUG=sqip*`

Also, please check if you actually pass a absolute path to input or one relative to the working directory. Means it should not be `/input.jpg` but should be `input.jpg`.

This should help us to find the issue

[2019-12-26 11:33] tommyboylab commented on #109
I'm unsure how to import the debugging command to my current function in the same way I've used sqip above.. is it possible to show me an example?

I tried the cli in the same directory as the above example and got an output

[code]

[2019-12-26 14:23] axe312ger commented on #109
Hey ho.

1. You enable debug mode by setting the DEBUG environment variable to `sqip*`. On Linux and Mac OS you do this via `DEBUG=sqip* sqip --input...`
2. ` '/input.jpg'` is an absolute path as it starts with `/`. You either have to `./image.jpg` or `image.jpg` as you did

The output is kinda as expected, you should add an output parameter to write the result to a file.

We might consider output

[2019-12-26 15:04] #91 closed

[2019-12-26 16:01] tommyboylab commented on #109
Thanks, I've run the debug on the CLI, the output is below with the added output parameter.

1. The problem I'm having is passing the debug environment variable in the function call I have above -- not the CLI -- but rather the NodeJS function. That's where I'm encountering the problem and what I'm trying to use in my application.

I don't have much experience with environment variables and don't

[2019-12-27 18:36] tommyboylab commented on #109
Hey @axe312ger

Thank you for adding the example of how to debug to the readme, I've followed your instructions and found I needed to pass the absolute path through my entire hard drive (not just from my project folder).

The issue has been resolved and It's working wonderfully. I really like the idea of this project and hope to use it in any projects I may have in the future.

Thanks again. Closi

[2019-12-27 18:36] #109 closed

[2019-12-27 19:54] gabrielperales commented on #38
Hi @axe312ger, I need this feature so I'm going to fork the lib. If I manage to make it work I can show you my changes and see if worth to make a PR.

[2019-12-27 20:16] axe312ger commented on #38
@gabrielperales yay nice, looking forward

[2020-01-07 11:41] gabrielperales commented on #38
Hi @axe312ger I opened #110 , can you check that out and tell me your thoughts?

[2020-01-10 17:52] axe312ger commented on #38
I will have a look soon! :)

[2020-05-28 12:56] eustas commented on #8
There is a way to stuff more details - avoid SVG overhead: https://github.com/eustas/2im
Here is the comparison of SQIP SVG vs no-SVG approach: https://eustas.github.io/2im/twim-vs-sqip.html

[2020-05-28 14:00] axe312ger commented on #8
@eustas a plugin to implement 2im into sqip would be amazing. A PR is very welcome :)

This part of the docs should help to create one: https://github.com/axe312ger/sqip/blob/master/CONTRIBUTING.md#create-a-new-plugin

[2020-06-21 18:29] #38 closed

[2020-06-22 11:16] axe312ger opened #114 "Create blurhash plugin"
Blurhash is another great technique to create compact image previews!

Their website: https://blurha.sh/

Implementation: https://github.com/woltapp/blurhash/tree/master/TypeScript

[2020-07-28 21:19] WagnerMoreira opened #115 "Vulnerability in js-yaml dependency"
The `js-yaml` which is a dependency of multiple packages listed in [package.json](https://github.com/axe312ger/sqip/blob/master/package.json) is reported to be a vulnerability.

Please check https://www.npmjs.com/advisories/813.

## Steps to reproduce
- Create a blank project.
[code]

## Expected results
- npm audit reports no vulnerabilities.

## Actual results
npm audit reports a high severity v

[2020-08-02 11:11] sido420 commented on #115
Any updates on this? Its a security vulnerability

[2020-08-23 23:35] transitive-bullshit opened #116 "New LQIP alternative"
Hey 👋

First off, I want to say that you folks have done an amazing job with `sqip`. The entire project is really impressive and I really loved the detailed comparison demo.

In the spirit of collaboration, I wanted to present a newer take on LQIP which closely resembles Medium's approach: [lqip-modern](https://github.com/transitive-bullshit/lqip-modern).

There are definitely tradeoffs with all o

[2020-09-15 09:44] technopagan commented on #116
@transitive-bullshit First of all: Thank you for caring about web performance and esp. user experience regarding images. I love your effort!

I'm glad you like SQIP's approach. @axe312ger has done an incredible job here.

On the areas you'd like to discuss:

---

**Regarding 2):**
Yes, of course. A PR would be welcome.

---

**Regarding 3):**
SQIP's greatest weakness is its client-side blur becaus

[2020-09-16 07:26] axe312ger commented on #116
Thanks for this extenden reply @technopagan

pretty busy right now but very open to all PRs!

[2021-01-09 10:11] pdobrescu opened #117 "How to use sqip with PNG's with transparent backgrounds?"
Hello folks and thanks for this great project!

While it works excellent in most of the cases, there is the situation of PNG's with transparent backgrounds, which are turned into ugly looking LQIP's that have a large dark/black area around them.

After digging several hours into this, with no real results, I decided to open this issue.

Here's an example so you can better understand the issue:

Or

[2021-01-09 13:48] axe312ger commented on #117
If you try the upcoming v1 of sqip, the plugin for primitive supports the background color setting.

1. You can set this color to the background color you will display the image on top of it.

2. If you want to get "real transparency" within the SVG, you could write a small plugin that removes the rectangle which is used for the SVGs background.

The result should be close to what fogleman posted

[2021-01-28 16:09] pdobrescu commented on #117
Hello again and thanks for your tips @axe312ger !

I upgraded to the latest canary build (currently `1.0.0-alpha.36`) and after trying tens of possibilities, I didn't manage to set a starting white background using the `-bg` parameter. As a conclusion, maybe there's something that I'm not doing right.

I am running this command, using the CLI:

`sqip -i beers.png -o beers.svg -p primitive blur --p

[2021-03-15 10:27] httpways opened #118 "Error in parsing SVG: Unbound namespace prefix: "xlink""
Hello,

I try to convert PNG pictures to SVG using the following command:

`node_modules/.bin/sqip -p primitive svgo -n 10 -m 2 --primitive-cores 3 -i $my_png_file -o $my_output_folder`

But I got the following error:

`Error in parsing SVG: Unbound namespace prefix: "xlink"`

Please help,

Thanks

[2021-03-30 12:32] axe312ger commented on #118
Where do you get that error? When rendering the SVG or does SQIP itself throw this error?

Any more details about the error message?

Can you share the SQIP version u used and the PNG you tried?

Do you have the issue with other images as well?

[2021-04-04 07:38] aaharu opened #119 "Cannot update `node-vibrant`"
`sqip@1.0.0-alpha.32` depends on `node-vibrant`.
The latest version of `node-vibrant` is `3.2.1-alpha.1`.

https://www.npmjs.com/package/node-vibrant

So, I can't update `node-vibrant` from `3.2.0-alpha` because `3.2.1-alpha.1` doesn't satisfy `^3.2.0-alpha`.

https://github.com/axe312ger/sqip/blob/master/packages/sqip/package.json#L46
[code]

[code]

[2021-04-07 08:28] axe312ger commented on #119
Do you know what changed? Why do you need to update this?

This tool tells me the version range is satisfied:

https://jubianchi.github.io/semver-check/#/^3.2.0-alpha/3.2.1-alpha.1

[2021-05-14 14:18] tommyboylab opened #121 "dyld: lazy symbol binding failed: Symbol not found: _g_once_impl - Update Sharp Dependency"
First time reporter, but long time user. I really like your package and it's Primitive SVG generator. I've used it in my project to process all images I've uploaded to generate placeholders that are loaded while images are loading.

Currently I'm facing an issue with sharp within your package being outdated.

[code]

Doing some background research it's referenced there's a conflict packages using

[2021-05-15 08:38] wereHamster opened #122 "webp / heif support"
Can't use webp or heif images as input images, because it's not supported by node vibrant -> jimp dependency.

I'm not actually interested in the dominant colors though, only in the svg output. It would be nice if the whole code which extracts the dominant colors wouldn't run at all unless I activate it (as a plugin for example). The plugins I currently use are sqip-plugin-primitive, sqip-plugin-b

[2021-06-03 09:34] pdobrescu commented on #117
hello again @axe312ger, do you have any updates with regards to this issue, please? any advice would be more than welcome! thank you

[2021-06-03 14:21] axe312ger commented on #117
Hey @pdobrescu,

I expect to have time for SQIP this summer again. Then will get the v1 released (we have a typescript version cooking), and then will look at the open issues.

Have a great start into the summer,
Benedikt

[2021-06-07 12:43] axe312ger commented on #122
Hi,

great request. I suggest we do the following:

* by default: try to transform the image to a forma that vibrant understands, probably using sharp.
* add option to disable the color palette generation

I have to maintain this repo on low priority, but will have a look into this. We currently prepare a ts rewrite, push out a first beta and then can start adding more features/fixing bugs and get

[2021-06-07 12:44] axe312ger commented on #121
Yeah, absolute sounds like our sharp is to old and your OS is to new.

I will probably run into the same on my new M1.

I have to maintain this repo on low priority, but will have a look into this. We currently prepare a ts rewrite, push out a first beta and then can start adding more features/fixing bugs and getting ready for a v1 stable.

Will keep u posted, just can't promise any timespan.

Che

[2021-09-13 15:19] pdobrescu commented on #117
hello @axe312ger , I just noticed this commit 41f86332e42b737e7b9865d735fbd09a201b5303 and I was wondering if there are chances that it fixes this issue?

[2021-09-15 15:44] axe312ger commented on #117
Yes, maybe. At least it should now set the background color you defined in the options. The TS PR is also getting close to a merge :)

Also, I can tell you that I now experience the same issue with a customer website that uses transparent pngs. They expect transparent/white background but get black backgrounds. Looks super ugly.

I'll check out how we can fix this as soon I get time, but can't put

[2021-09-18 08:13] axe312ger commented on #117
Hey @pdobrescu,

thank you for the offer. If someone in your team is good in TS & jest, I really could help in figuring out why these tests time out on CI. They work fine on machine (ofc) -> https://github.com/axe312ger/sqip/pull/120

If we get this PR merged, we can tackle issues in the SVG generation. I'll add this ticket to the v1 milestone.

[2021-10-31 16:29] renovate[bot] opened #126 "Dependency Dashboard"
This issue provides visibility into Renovate updates and their statuses. [Learn more](https://docs.renovatebot.com/key-concepts/dashboard/)

## Rate Limited

These updates are currently rate limited. Click on a checkbox below to force their creation now.

 - [ ] chore(deps): update dependency @types/fs-extra to v9.0.13
 - [ ] chore(deps): update dependency @types/jest to v27.0.2
 - [ ] chore(deps)

[2021-10-31 17:07] renovate[bot] opened #127 "Action Required: Fix Renovate Configuration"
There is an error with this repository's Renovate configuration that needs to be fixed. As a precaution, Renovate will stop PRs until it is resolved.

Location: `renovate.json`
Error type: Invalid JSON (parsing failed)
Message: `Syntax error: expecting end of expression or separator near sets": [":`

[2021-10-31 17:16] #127 closed

[2021-11-02 20:52] axe312ger commented on #90
We merged the last PR for the code changes :)

I currently test the alpha in GatsbyJS. If it works out, I'll promote the very same code to the first beta of v1!

[2021-11-29 09:17] axe312ger opened #181 "Implement a triangula plugin"
Wow cool! This is like primitive, but more solid results!!

https://github.com/RH12503/triangula

[2021-11-29 18:36] axe312ger commented on #181
Triangula actually takes a long time to process, for now, we probably should try https://github.com/esimov/triangle

[2022-01-14 05:43] aaharu commented on #119
sorry, it's my misunderstanding.

[2022-01-14 05:43] #119 closed

[2022-02-06 06:51] wereHamster commented on #122
AFAICS sharp is already a dependency, so wrapping the buffer in `sharp().png()` wouldn't add too much additional cost, correct? If so, I can try the PR.

Alternative would be to run `.png()` only when we detect an incompatible image format (jimp currently supports png/jpeg/bmp/tiff/gif).

[2022-02-19 12:13] wereHamster commented on #122
… see #207

[2022-02-22 08:48] axe312ger commented on #122
Uhh nice thanks!

[2022-03-18 08:38] rrutsche opened #221 "Error: Unable to load plugin "sqip-plugin-primitive". Try installing it via: npm install sqip-plugin-primitive"
Hi there,
first of all - thanks for this package. We are using it with joy since 2 years.
However, unfortunately it's not working on our Mac M1 machines. As the sharp dependency had to be upgraded we also upgraded sqip and the plugins to the current alpha version.
But when calling the package with the following config, we get the error
[code]

The way we call it:
[code]

These are the installed sq

[2022-03-24 08:24] axe312ger commented on #221
Did you install die canary versions? I think so, otherwise you won't have the alphas :/

Can you check if the node_modules/sqip-plugin-primitive/package.json exists and the "main" entry points to a valid file?

[2022-03-24 10:53] axe312ger commented on #221
@rrutsche I updated a few dependencies and rereleased. This release works fine for me on my M1.

[2022-03-24 10:57] axe312ger commented on #122
This is done and released in the v1@canary

[2022-03-24 10:57] #122 closed

[2022-03-24 21:53] rrutsche commented on #221
@axe312ger Thanks for the reply and your quick release. Unfortunately it did not help.

To answer your first question: Yes there is a `node_modules/sqip-plugin-primitive/package.json` with a valid main entry point. But I think I found the issue. It's due to node version v12.22.3 we are using. Package `'fs/promises'` is not available in this version and the plugin fails to load.

I found some comme

[2022-03-25 09:40] rrutsche commented on #221
I'll close this issue as I can solve it without the need of a new release or something.
Maybe you could add the engine property to the package json in a future release which specifies the required node version.

Thanks for your help.

[2022-03-25 09:40] #221 closed

[2022-03-28 12:27] axe312ger opened #226 "bump required node version to v14"
@axe312ger Thanks for the reply and your quick release. Unfortunately it did not help.

To answer your first question: Yes there is a `node_modules/sqip-plugin-primitive/package.json` with a valid main entry point. But I think I found the issue. It's due to node version v12.22.3 we are using. Package `'fs/promises'` is not available in this version and the plugin fails to load.

I found some comme

[2022-05-08 09:26] axe312ger commented on #121
@tommyboylab sharp is updated for a while and I create SVGs using SQIP on my M1 :)

[2022-05-08 09:26] #121 closed

[2022-05-08 09:26] axe312ger commented on #121
(Note: you have to use @next version)

[2022-05-08 09:50] axe312ger commented on #117
I found it! primitive expects the hex color to be passed without hashtag.

Fix including tests will be pushed asap :)

[2022-05-08 10:27] #226 closed

[2022-05-08 10:37] axe312ger commented on #117
I committed my changes and tests via 9769d4597fdfca877d1caef1c3f2cd68347fd223

Additionally I remove the background rectangle/path generated by primitive. That way we have real transparent pixels in each svg.

![transparent-background](https://user-images.githubusercontent.com/1737026/167292298-fe5a25b9-474e-42b3-b2a8-66bcc4658673.png)

Turns into
![transparent-background](https://user-images.gith

[2022-05-08 10:37] #117 closed

[2022-05-08 10:40] axe312ger commented on #115
The dependency is updated in the upcoming v1 release. Try it via `@next`. The readme in this repo is up2date.

[2022-05-08 10:40] #115 closed

[2022-05-08 10:42] axe312ger commented on #16
Closing this as I didn't see this issue for a good while in the upcoming v1 which will be out soon.

Try it via '@next'. See the repo readme for installation and usage instructions.

[2022-05-08 10:42] #16 closed

[2022-05-08 10:45] axe312ger commented on #8
Closing this as we can now fine tune primitive and have several plugins to play around in the upcoming v1.

I am very open to a 2im plugin for SQIP. Feel free to open an issue / PR if you want that!

[2022-05-08 10:45] #8 closed

[2022-05-08 10:46] axe312ger commented on #6
This is out of scope of this project 🙃

[2022-05-08 10:46] #6 closed

[2022-06-04 20:53] pdobrescu commented on #117
dear @axe312ger, I forgot to thank you for the fixes, alpha.38 has finally solved our issues with the dark background for LQIPs generated from transparent PNGs 😉  much appreciated 🙏

As for your request, unfortunately, we have no expertise in TS & jest in our team 😶

[2022-06-06 09:29] axe312ger commented on #117
Great to hear! Enjoy the new version. Should also be in beta soonish

[2022-06-27 08:52] sveinugu opened #250 "Setting background color in primitive causes chained blur to fail"
Interested in making use of the new support for transparent images in `sqip-1.0.0.alpha38` through `sqip-loader`, I created a new fork of "mole-inc/sqip-loader" (which is again a fork of "EmilTholin/sqip-loader") and tried updating the sqip dependencies and adding support for the `background` option in "sqip-plugin-primitive". Then, I added an example PNG with transparency and set the background o

[2022-08-09 09:04] axe312ger commented on #250
@sveinugu unfortunately did primitive do some "breaking" changes in their markup.

If the rectangle is missing, there is a chance you use a very old version of primitive.

Can you try with the latest version installed? (Or check IF you have it globally installed `why primitive`)

[2022-08-25 08:12] sveinugu commented on #250
I installed the latest version of primitive from the github repo (https://github.com/fogleman/primitive), however the last update of this repo was 2 years ago. Is there another, more updated version of primitive available somewhere else?

[2022-08-25 08:18] sveinugu commented on #250
I have version 1.3.0 installed (on a Mac).

[2022-08-25 09:24] sveinugu commented on #250
After digging a bit I see now that I am not using my globally installed version of 'primitive' at all. Rather, the `sqip-plugin-primitive` package is building it's own binaries stored within the `node_modules` directory. This is based on the https://github.com/hashbite/primitive repo, however there are only dependency-related changes compared to the original `fogleman` repo. I am depending on vers

[2022-09-12 06:45] sndrem opened #253 "Probleming running the sqip-command on Mac M1"
Operating system:
macOS Monterey v. 12.5.1

Node version
[code]

Npm version
[code]

When running the command
`sqip -i bilde.jpeg -o bilde.svg -m 1 -n 10 -b 9`

I get the error below
[code]

Any idea how to get past the problem so I can run the sqip command?

[2022-09-13 10:02] axe312ger commented on #253
Also, you might have installed the wrong versions.

Did you use the command from the readme to install SQIP?

[2022-09-21 17:43] sndrem commented on #253
Node 16 + `npm install sqip@canary sqip-plugin-primitive@canary sqip-plugin-svgo@canary sqip-plugin-data-uri@canary` and `npm install -g sqip-cli@canary` did the trick for me. Thank you!

[2022-09-21 17:43] #253 closed